.page {
  max-width: 500px;
  margin: 15px;
  padding: 15px;
  word-wrap: break-word;
  box-shadow: 10px 10px 30px 10px  rgba(0,0,0,.1);
  background-color: white;
}
h1 {
  display: flex;
  align-items: baseline;
}
h1 span {
  display: inline-block;
  margin: 0 0 0 10px;
}
img {
  max-width: 500px;
}
pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}
a {
  text-decoration: none;
}
input {
  width: 60%;
}
ul, ol {
  padding-left: 1em;
}
dd {
  margin: 1em;
}
